<?xml version="1.0"?>
<robot name="pelican" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find cpr_asctec_description)/urdf/materials.urdf" />

  <property name="M_PI" value="3.14159"/>

  <xacro:arg name="material" default="Grey"/>

  <link name="base_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0.0 ${M_PI}"/>
      <geometry>
        <mesh filename="package://cpr_asctec_description/meshes/pelican.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="$(arg material)"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0.0 ${M_PI}"/>
      <geometry>
        <mesh filename="package://cpr_asctec_description/meshes/pelican.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.4699013" />
      <inertia  ixx="0.0031887" ixy="0.0" ixz="0.0"
                iyy="0.0032245" iyz="0.0"
                izz="0.0013857" />
    </inertial>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/$(arg material)</material>
  </gazebo>

  <xacro:macro name="pelican_leg" params="name *origin">
    <link name="leg_${name}_link">
      <visual>
        <geometry>
          <box size="0.044 0.007 0.1"/>
        </geometry>
        <xacro:insert_block name="origin"/>
        <material name="$(arg material)"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.044 0.007 0.1"/>
        </geometry>
        <xacro:insert_block name="origin"/>
      </collision>
    </link>
    <joint name="leg_${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="leg_${name}_link"/>
      <origin xyz="0.00 0.00 -0.083" rpy="0.0 0.0 0.0"/>
    </joint>
    <gazebo reference="leg_${name}_link">
      <material>Gazebo/$(arg material)</material>
    </gazebo>
  </xacro:macro>

  <xacro:pelican_leg name="1">
    <origin xyz="0.089 0.00 -0.043" rpy="0.0 0.0 0.0"/>
  </xacro:pelican_leg>

  <xacro:pelican_leg name="2">
    <origin xyz="-0.089 0.00 -0.043" rpy="0.0 0.0 0.0"/>
  </xacro:pelican_leg>

  <xacro:pelican_leg name="3">
    <origin xyz="0.00 0.089 -0.043" rpy="0.0 0.0 1.5708"/>
  </xacro:pelican_leg>

  <xacro:pelican_leg name="4">
    <origin xyz="0.00 -0.089 -0.043" rpy="0.0 0.0 1.5708"/>
  </xacro:pelican_leg>

  <xacro:macro name="pelican_prop" params="name *origin">

    <link name="prop_${name}_link">
      <visual>
        <geometry>
          <cylinder radius="0.130" length="0.025"/>
        </geometry>
        <material name="GreyTransparent"/>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.130" length="0.025"/>
        </geometry>
      </collision>
    </link>
    <joint name="prop_${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="prop_${name}_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <gazebo reference="prop_${name}_link">
      <material>Gazebo/GreyTransparent</material>
    </gazebo>

  </xacro:macro>

  <xacro:pelican_prop name="front">
    <origin xyz="0.21 0.0 0.055" rpy="0.0 0.0 0.0"/>
  </xacro:pelican_prop>

  <xacro:pelican_prop name="back">
    <origin xyz="-0.21 0.0 0.055" rpy="0.0 0.0 0.0"/>
  </xacro:pelican_prop>

  <xacro:pelican_prop name="left">
    <origin xyz="0.0 0.21 0.055" rpy="0.0 0.0 0.0"/>
  </xacro:pelican_prop>

  <xacro:pelican_prop name="right">
    <origin xyz="0.0 -0.21 0.055" rpy="0.0 0.0 0.0"/>
  </xacro:pelican_prop>

</robot>
